
<aside class="side-bar" style="z-index: 999;">
  <section class="side-bar__icon-box">
    <section class="side-bar__icon-1">
      <div></div>
      <div></div>
      <div></div>
    </section>
  </section>
  <ul>
    <li>
      <a href="#"><i class="fa-solid fa-cat"></i>PERFUME</a>
      <ul>

        <li><a href="#">text1</a></li>
        <li><a href="#">text2</a></li>
        <li><a href="#">text3</a></li>
        <li><a href="#">text4</a></li>
      </ul>
    </li>
    <li>
      <a href="#">DIFUSER</a>
      <ul>

        <li><a href="#"></a></li>

        <li><a href="#">text2</a></li>
        <li><a href="#">text3</a></li>
        <li><a href="#">text4</a></li>
      </ul>
    </li>
    <li>
      <a href="#">HAND</a>
      <ul>
        <li><a href="#">text1</a></li>
        <li><a href="#">text2</a></li>
        <li><a href="#">text3</a></li>
        <li><a href="#">text4</a></li>
      </ul>
    </li>
    <li><a href="#">EVENT</a></li>
    <li><a href="#">NOTICE</a></li>
    <li><a href="{% url 'board:question_list' %}">Q<small>N</small>A</a></li>
    <li><a href="#">MEMBERSHIP</a></li>
  </ul>
</aside>